* {
  box-sizing: border-box;
}
.wrapper {
  padding: 5% ;
}
.main-brand {
  font-size: 60px;
  font-family: cursive;
  text-align: center;
  font-weight: normal;
  
}
.news-container {
  display: flex;
  border: 2px solid #333;
  padding: 2% 3%;
  flex-wrap: wrap;

  
}
.news-container-left , .news-container-right, .news-container-bottomLeft{
  display: flex;
  flex-basis: 25%;
  flex-flow:column nowrap;
  align-items: stretch;

  
  
}
.news-container-left , .news-container-right,.news-container-bottomLeft p {
  font-size: 25px;
  line-height: 1.5;
  padding: 0 2.5%;
}

.news-container-middle {
  flex-basis: 50%;
  border: 2px solid #333;
  margin-top: -26px;
  margin-bottom: -26px;

  font-size: 25px;
  line-height: 1.5;

}
.story-title {
  padding: 0 2.5%;

}

.news-container-middle img {
  width: 100%;
}
.news-container-bottomLeft {
  display: flex;
  flex-basis: 25%;
  margin-left: -35px;
  border-bottom: 0;
  

  
}
.news-container-middleBottom {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: stretch;
  margin-left: 35px;
  border-right: 0;
  border-bottom: 0;
}
.news-container-middleBottom {
  flex-direction: column;
  flex-wrap: nowrap;
  border-left: 2px solid #333;
  margin-top: -26px;
  margin-bottom: -26px;





}
.politics, .tech,.local,.opinion,.sport {
  display: flex;
  font-size: 40px;
  flex-basis: 100%;
  margin-right: -39px;
  padding: 15% 10%;
  flex:1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 

}
.nav-item a{
  text-decoration: none;
  color: #555;
}
.nav-item a:hover {
  text-decoration: underline;
}

.politics {
  background-color:#ffeaa7; 

}
.tech {
  background-color:#81ecec; 
  

}
.local {
  background-color:#55efc4; 
  flex-basis: 100%;

}
.opinion {
  background-color:#74b9ff; 
  

}
.sport {
  background-color:#a29bfe; 
 

}
.news-container {
  border-bottom: px solid #333;
}

