* {
  box-sizing: border-box;
}
.wrapper {
  padding: 5% ;
  text-align: center;
}
.news-container {
  display: flex;
  border: 2px solid #333;
  padding: 2% 3%;
  flex-wrap: wrap;
  border-top: 5px solid #333;

  
}
.news-container-left , .news-container-right, .news-container-bottomLeft{
  display: flex;
  flex-basis: 25%;
  flex-flow:column nowrap;
  align-items: stretch;
  border-bottom: .5px solid #333;

  
  
}
.news-container-left ,.news-container-middle, .news-container-right,.news-container-bottomLeft p {
  font-size: 25px;
  line-height: 1.5;
  padding: 0 2.5%;
}

.news-container-middle {
  flex-basis: 50%;
  border: 2px solid #333;
  margin-top: -26px;

}

.news-container-middle {
  max-width: 100%;
  padding: 0 3%;
}
.news-container-bottomLeft {
  display: flex;
  flex-basis: 25%;
  border-top: 1px solid #333;
  margin-left: -35px;
  border-bottom: 0;
  

  
}
.news-container-middleBootom {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  border-top: 2px solid #333;
  align-items: stretch;
  margin-left: 35px;
  border-right: 0;
  border-bottom: 0;
}
.news-container-middleBootom {
  flex-direction: column;
  flex-wrap: nowrap;

}
.politics, .tech,.local,.opinion,.sport {
  display: flex;
  padding: 15%;
  font-size: 40px;
  flex-basis: 100%;


}
.politics {
  background-color:#ffeaa7; 

}
.tech {
  background-color:#81ecec; 
  

}
.local {
  background-color:#55efc4; 
  flex-basis: 100%;

}
.opinion {
  background-color:#74b9ff; 
  

}
.sport {
  background-color:#a29bfe; 
 

}

