/*Styles*/
body {
  font-family: Arial, Helvetica, sans-serif;
background-color: #ffffcc;
}
blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ccc;
  font-size: 2rem;
  padding: 2%;
  font-style: italic;
  text-align:center;
  
}
.leftVerticalBorder{
  border-left: 5px #0d0c11 solid; 
}
cite {
  font-size: 1rem;
  font-weight: bold;
}
